USE [DAILY_EXECUTION]
GO
/****** Object:  StoredProcedure [dbo].[USP_CLOSE_DAY]    Script Date: 17-07-2026 14:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_CLOSE_DAY]
(
    @DAYID INT,
    @CLOSEDAT DATETIME2
)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @USERID INT;
        DECLARE @DAYSTATUS NVARCHAR(20);
        DECLARE @TOTALRULES INT;
        DECLARE @COMPLETEDRULES INT;
        DECLARE @RESULT NVARCHAR(20);
        
        --================================================
        -- VALIDATION 1: Check if day exists
        --================================================
        SELECT 
            @USERID = USERID,
            @DAYSTATUS = STATUS,
            @TOTALRULES = TOTALRULES,
            @COMPLETEDRULES = COMPLETEDRULES
        FROM USERDAY
        WHERE DAYID = @DAYID;
        
        IF @USERID IS NULL
        BEGIN
            SELECT 
                1 AS ErrorCode,
                'DAY_NOT_FOUND' AS ErrorType,
                'Day not found' AS ErrorMessage,
                @DAYID AS DayId;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 2: Check if day is already closed
        --================================================
        IF @DAYSTATUS = 'CLOSED'
        BEGIN
            SELECT 
                2 AS ErrorCode,
                'ALREADY_CLOSED' AS ErrorType,
                'Day is already closed' AS ErrorMessage,
                @DAYID AS DayId;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- DETERMINE RESULT (PASS/FAIL)
        --================================================
        IF @COMPLETEDRULES = @TOTALRULES
        BEGIN
            SET @RESULT = 'PASS';
        END
        ELSE
        BEGIN
            SET @RESULT = 'FAIL';
        END
        
        --================================================
        -- UPDATE USERDAY - CLOSE THE DAY
        --================================================
        UPDATE USERDAY
        SET 
            STATUS = 'CLOSED',
            RESULT = @RESULT,
            CLOSEDAT = @CLOSEDAT,
            EVALUATEDAT = @CLOSEDAT,  -- Mark as evaluated immediately
            UPDATEDDATE = SYSUTCDATETIME()
        WHERE DAYID = @DAYID;
        
        COMMIT TRANSACTION;
        
        --================================================
        -- RETURN SUCCESS WITH COMPLETE DATA
        --================================================
        SELECT 
            0 AS ErrorCode,
            'SUCCESS' AS Status;
        
        -- Return closed day details
        SELECT
            UD.DAYID,
            UD.USERID,
            UD.DAYDATE,
            UD.DAYNUMBER,
            UD.MODE,
            UD.STATUS,
            UD.RESULT,
            UD.TOTALRULES,
            UD.COMPLETEDRULES,
            UD.CLOSEDAT,
            UD.EVALUATEDAT,
            CASE 
                WHEN UD.STATUS = 'CLOSED' THEN 1 
                ELSE 0 
            END AS READYFOREVALUATION
        FROM USERDAY UD
        WHERE UD.DAYID = @DAYID;
        
        -- Return incomplete items (for FAIL case)
        SELECT
            CI.CHECKLISTITEMID,
            CI.RULEID,
            CI.DESCRIPTION,
            CI.DOMAINTYPE
        FROM DAYCHECKLISTITEM CI
        WHERE CI.DAYID = @DAYID
          AND CI.ISCOMPLETED = 0
        ORDER BY 
            CASE CI.DOMAINTYPE
                WHEN 'SLEEP' THEN 1
                WHEN 'BODY' THEN 2
                WHEN 'LEARNING' THEN 3
                WHEN 'FUEL' THEN 4
                WHEN 'REFLECTION' THEN 5
                ELSE 6
            END;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        -- Return error indicator
        SELECT 
            99 AS ErrorCode,
            'INTERNAL_ERROR' AS ErrorType,
            ERROR_MESSAGE() AS ErrorMessage,
            ERROR_NUMBER() AS SqlErrorNumber,
            ERROR_LINE() AS SqlErrorLine;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_COMPLETE_CHECKLIST_ITEM]    Script Date: 17-07-2026 14:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_COMPLETE_CHECKLIST_ITEM]
(
    @USERID INT,
    @CHECKLISTITEMID INT,
    @COMPLETIONSOURCE NVARCHAR(20),
    @COMPLETEDAT DATETIME2
)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @DAYID INT;
        DECLARE @RULEID INT;
        DECLARE @DOMAINTYPE NVARCHAR(50);
        DECLARE @DESCRIPTION NVARCHAR(500);
        DECLARE @DAYSTATUS NVARCHAR(20);
        DECLARE @DAYCLOSED DATETIME2;
        DECLARE @ISCOMPLETED BIT;
        DECLARE @ALLOWEDPROOFTYPES NVARCHAR(100);
        DECLARE @TOTALRULES INT;
        DECLARE @COMPLETEDRULES INT;
        
        --================================================
        -- VALIDATION 1: Check if checklist item exists
        --================================================
        SELECT 
            @DAYID = CI.DAYID,
            @RULEID = CI.RULEID,
            @DOMAINTYPE = CI.DOMAINTYPE,
            @DESCRIPTION = CI.DESCRIPTION,
            @ISCOMPLETED = CI.ISCOMPLETED,
            @ALLOWEDPROOFTYPES = CI.ALLOWEDPROOFTYPES
        FROM DAYCHECKLISTITEM CI
        WHERE CI.CHECKLISTITEMID = @CHECKLISTITEMID;
        
        IF @DAYID IS NULL
        BEGIN
            SELECT 
                1 AS ErrorCode,
                'ITEM_NOT_FOUND' AS ErrorType,
                'Checklist item not found' AS ErrorMessage,
                @CHECKLISTITEMID AS ChecklistItemId;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 2: Check if item belongs to user
        --================================================
        IF NOT EXISTS (
            SELECT 1 
            FROM USERDAY 
            WHERE DAYID = @DAYID 
              AND USERID = @USERID
        )
        BEGIN
            SELECT 
                2 AS ErrorCode,
                'UNAUTHORIZED' AS ErrorType,
                'This checklist item does not belong to the specified user' AS ErrorMessage;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 3: Check if day is still open
        --================================================
        SELECT 
            @DAYSTATUS = STATUS,
            @DAYCLOSED = CLOSEDAT,
            @TOTALRULES = TOTALRULES,
            @COMPLETEDRULES = COMPLETEDRULES
        FROM USERDAY
        WHERE DAYID = @DAYID;
        
        IF @DAYSTATUS = 'CLOSED'
        BEGIN
            SELECT 
                3 AS ErrorCode,
                'DAY_CLOSED' AS ErrorType,
                'Cannot mark items complete after day has ended' AS ErrorMessage,
                @DAYCLOSED AS DayClosedAt;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 4: Check if already completed
        --================================================
        IF @ISCOMPLETED = 1
        BEGIN
            SELECT 
                4 AS ErrorCode,
                'ALREADY_COMPLETED' AS ErrorType,
                'This item is already marked as completed' AS ErrorMessage,
                @CHECKLISTITEMID AS ChecklistItemId;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 5: Check if proof is required
        --================================================
        IF @DOMAINTYPE = 'LEARNING' OR @ALLOWEDPROOFTYPES IS NOT NULL
        BEGIN
            -- Parse allowed proof types for response
            DECLARE @ProofTypeCodes NVARCHAR(MAX);
            
            SELECT @ProofTypeCodes = STRING_AGG(PTM.PROOFTYPECODE, ',')
            FROM STRING_SPLIT(@ALLOWEDPROOFTYPES, ',') AS SPLIT
            INNER JOIN RULE_MANAGEMENT.dbo.PROOF_TYPE_MASTER PTM
                ON PTM.PROOFTYPEID = TRY_CAST(SPLIT.value AS INT)
            WHERE PTM.ISACTIVE = 1;
            
            SELECT 
                5 AS ErrorCode,
                'PROOF_REQUIRED' AS ErrorType,
                'This item requires proof submission. Use /day/learning-proof endpoint.' AS ErrorMessage,
                @RULEID AS RuleId,
                @ProofTypeCodes AS ProofTypes;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 6: Check if reflection is required
        --================================================
        IF @DOMAINTYPE = 'REFLECTION'
        BEGIN
            SELECT 
                6 AS ErrorCode,
                'REFLECTION_REQUIRED' AS ErrorType,
                'This item requires reflection submission. Use /day/reflection endpoint.' AS ErrorMessage,
                @RULEID AS RuleId;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- UPDATE CHECKLIST ITEM
        --================================================
        UPDATE DAYCHECKLISTITEM
        SET 
            ISCOMPLETED = 1,
            COMPLETEDAT = @COMPLETEDAT,
            COMPLETIONSOURCE = @COMPLETIONSOURCE
        WHERE CHECKLISTITEMID = @CHECKLISTITEMID;
        
        --================================================
        -- UPDATE USERDAY COMPLETED COUNT
        --================================================
        UPDATE USERDAY
        SET 
            COMPLETEDRULES = COMPLETEDRULES + 1,
            UPDATEDDATE = SYSUTCDATETIME()
        WHERE DAYID = @DAYID;
        
        -- Get updated count
        SELECT @COMPLETEDRULES = COMPLETEDRULES
        FROM USERDAY
        WHERE DAYID = @DAYID;
        
        COMMIT TRANSACTION;
        
        --================================================
        -- RETURN SUCCESS WITH UPDATED DATA
        --================================================
        SELECT 
            0 AS ErrorCode,
            'SUCCESS' AS Status;
        
        -- Return updated checklist item
        SELECT
            CI.CHECKLISTITEMID,
            CI.RULEID,
            CI.DESCRIPTION,
            CI.DOMAINTYPE,
            CI.ISCOMPLETED,
            CI.COMPLETEDAT,
            CI.COMPLETIONSOURCE
        FROM DAYCHECKLISTITEM CI
        WHERE CI.CHECKLISTITEMID = @CHECKLISTITEMID;
        
        -- Return updated progress
        SELECT
            @TOTALRULES AS TotalRules,
            @COMPLETEDRULES AS CompletedRules,
            (@TOTALRULES - @COMPLETEDRULES) AS RemainingRules;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        -- Return error indicator
        SELECT 
            99 AS ErrorCode,
            'INTERNAL_ERROR' AS ErrorType,
            ERROR_MESSAGE() AS ErrorMessage,
            ERROR_NUMBER() AS SqlErrorNumber,
            ERROR_LINE() AS SqlErrorLine;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CONFIRM_TIME_RULE]    Script Date: 17-07-2026 14:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Fix: sleep deadline crossing midnight (e.g. target 00:30 belongs to next calendar day).
Also compares full datetime instead of HH:mm string so late-night confirmations are correct.
*/
CREATE PROCEDURE [dbo].[USP_CONFIRM_TIME_RULE]
(
    @USERID INT,
    @CHECKLISTITEMID INT,
    @CONFIRMED BIT,
    @ACTUALTIME DATETIME2
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        DECLARE @DAYID INT;
        DECLARE @RULEID INT;
        DECLARE @DOMAINTYPE NVARCHAR(50);
        DECLARE @DESCRIPTION NVARCHAR(500);
        DECLARE @REQUIREDVALUE NVARCHAR(100);
        DECLARE @DAYSTATUS NVARCHAR(20);
        DECLARE @ISCOMPLETED BIT;
        DECLARE @TOTALRULES INT;
        DECLARE @COMPLETEDRULES INT;
        DECLARE @DAYDATE DATE;
        DECLARE @ACTUALTIMESTR NVARCHAR(5) = FORMAT(@ACTUALTIME, 'HH:mm');
        SELECT
            @DAYID = CI.DAYID,
            @RULEID = CI.RULEID,
            @DOMAINTYPE = CI.DOMAINTYPE,
            @DESCRIPTION = CI.DESCRIPTION,
            @REQUIREDVALUE = CI.REQUIREDVALUE,
            @ISCOMPLETED = CI.ISCOMPLETED
        FROM DAYCHECKLISTITEM CI
        WHERE CI.CHECKLISTITEMID = @CHECKLISTITEMID;
        IF @DAYID IS NULL
        BEGIN
            SELECT 1 AS ErrorCode, 'ITEM_NOT_FOUND' AS ErrorType, 'Checklist item not found' AS ErrorMessage;
            ROLLBACK;
            RETURN;
        END
        IF NOT EXISTS (
            SELECT 1
            FROM USERDAY
            WHERE DAYID = @DAYID
              AND USERID = @USERID
        )
        BEGIN
            SELECT 2 AS ErrorCode, 'UNAUTHORIZED' AS ErrorType, 'This checklist item does not belong to the specified user' AS ErrorMessage;
            ROLLBACK;
            RETURN;
        END
        SELECT
            @DAYSTATUS = STATUS,
            @TOTALRULES = TOTALRULES,
            @COMPLETEDRULES = COMPLETEDRULES,
            @DAYDATE = CAST(DAYDATE AS DATE)
        FROM USERDAY
        WHERE DAYID = @DAYID;
        IF @DAYSTATUS = 'CLOSED'
        BEGIN
            SELECT 3 AS ErrorCode, 'DAY_CLOSED' AS ErrorType, 'Cannot confirm time rule after day has ended' AS ErrorMessage;
            ROLLBACK;
            RETURN;
        END
        IF @ISCOMPLETED = 1
        BEGIN
            SELECT 4 AS ErrorCode, 'ALREADY_COMPLETED' AS ErrorType, 'This item is already marked as completed' AS ErrorMessage;
            ROLLBACK;
            RETURN;
        END
        IF @DOMAINTYPE != 'SLEEP' OR @REQUIREDVALUE IS NULL
        BEGIN
            SELECT 5 AS ErrorCode, 'NOT_TIME_RULE' AS ErrorType, 'This rule does not require time confirmation' AS ErrorMessage, @DOMAINTYPE AS ActualDomainType;
            ROLLBACK;
            RETURN;
        END
        IF @CONFIRMED = 0
        BEGIN
            SELECT 6 AS ErrorCode, 'USER_DENIED' AS ErrorType, 'User indicated they did not complete the rule on time' AS ErrorMessage;
            ROLLBACK;
            RETURN;
        END
        DECLARE @ONTIME BIT = 0;
        DECLARE @MINUTESDIFF INT;
        DECLARE @RULETIME TIME(0) = TRY_CONVERT(TIME(0), @REQUIREDVALUE);
        DECLARE @BASEDATE DATE = ISNULL(@DAYDATE, CAST(@ACTUALTIME AS DATE));
        DECLARE @DEADLINEDATETIME DATETIME2;
        IF @RULETIME IS NULL
        BEGIN
            SELECT 5 AS ErrorCode, 'NOT_TIME_RULE' AS ErrorType, 'Invalid target time format in REQUIREDVALUE' AS ErrorMessage, @REQUIREDVALUE AS ActualDomainType;
            ROLLBACK;
            RETURN;
        END
        SET @DEADLINEDATETIME = DATEADD(SECOND, DATEDIFF(SECOND, CAST('00:00:00' AS TIME(0)), @RULETIME), CAST(@BASEDATE AS DATETIME2));
        -- Sleep deadlines like 00:30 belong to the NEXT day of the current UserDay.
        IF @RULETIME < CAST('12:00:00' AS TIME(0))
            SET @DEADLINEDATETIME = DATEADD(DAY, 1, @DEADLINEDATETIME);
        IF @ACTUALTIME <= @DEADLINEDATETIME
        BEGIN
            SET @ONTIME = 1;
            SET @MINUTESDIFF = DATEDIFF(MINUTE, @ACTUALTIME, @DEADLINEDATETIME);
        END
        ELSE
        BEGIN
            SET @ONTIME = 0;
            SET @MINUTESDIFF = DATEDIFF(MINUTE, @DEADLINEDATETIME, @ACTUALTIME);
            SELECT
                7 AS ErrorCode,
                'PAST_DEADLINE' AS ErrorType,
                'Sleep rule deadline was ' + @REQUIREDVALUE + '. Current time is ' + FORMAT(@ACTUALTIME, 'HH:mm') + '.' AS ErrorMessage,
                @REQUIREDVALUE AS DeadlineTime,
                FORMAT(@ACTUALTIME, 'HH:mm') AS ActualTime,
                @MINUTESDIFF AS MinutesLate,
                @DEADLINEDATETIME AS DeadlineAt,
                @ACTUALTIME AS ActualAt;
            ROLLBACK;
            RETURN;
        END
        UPDATE DAYCHECKLISTITEM
        SET
            ISCOMPLETED = 1,
            COMPLETEDAT = @ACTUALTIME,
            COMPLETIONSOURCE = 'TIME_CONFIRMATION',
            COMPLETEDVALUE = FORMAT(@ACTUALTIME, 'HH:mm')
        WHERE CHECKLISTITEMID = @CHECKLISTITEMID;
        UPDATE USERDAY
        SET
            COMPLETEDRULES = COMPLETEDRULES + 1,
            UPDATEDDATE = SYSUTCDATETIME()
        WHERE DAYID = @DAYID;
        SELECT @COMPLETEDRULES = COMPLETEDRULES
        FROM USERDAY
        WHERE DAYID = @DAYID;
        COMMIT TRANSACTION;
        SELECT 0 AS ErrorCode, 'SUCCESS' AS Status;
        SELECT
            CI.CHECKLISTITEMID,
            CI.RULEID,
            CI.DESCRIPTION,
            CI.DOMAINTYPE,
            CI.REQUIREDVALUE AS TARGETTIME,
            CI.COMPLETEDVALUE AS ACTUALTIME,
            CI.ISCOMPLETED,
            CI.COMPLETEDAT,
            CI.COMPLETIONSOURCE,
            @ONTIME AS ONTIME,
            @MINUTESDIFF AS MINUTESDIFF
        FROM DAYCHECKLISTITEM CI
        WHERE CI.CHECKLISTITEMID = @CHECKLISTITEMID;
        SELECT
            @TOTALRULES AS TotalRules,
            @COMPLETEDRULES AS CompletedRules,
            (@TOTALRULES - @COMPLETEDRULES) AS RemainingRules;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        SELECT
            99 AS ErrorCode,
            'INTERNAL_ERROR' AS ErrorType,
            ERROR_MESSAGE() AS ErrorMessage,
            ERROR_NUMBER() AS SqlErrorNumber,
            ERROR_LINE() AS SqlErrorLine;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CREATE_USER_DAY]    Script Date: 17-07-2026 14:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_CREATE_USER_DAY]
(
    @USERID INT,
    @RULESETID INT,
    @VERSIONNUMBER INT,
    @DAYDATE DATE,
    @DAYNUMBER INT,
    @MODE NVARCHAR(20),
    @STARTEDAT DATETIME2,
    @RULES NVARCHAR(MAX),  -- JSON array of rules with ALL fields
    @MINIMUMMODEREASON NVARCHAR(500) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @DAYID INT;
        DECLARE @TOTALRULES INT;
        
        --================================================
        -- VALIDATION 1: Check if day already exists
        --================================================
        IF EXISTS (
            SELECT 1 
            FROM USERDAY 
            WHERE USERID = @USERID 
              AND DAYDATE = @DAYDATE
        )
        BEGIN
            SELECT 
                1 AS ErrorCode,
                'DAY_ALREADY_EXISTS' AS ErrorType,
                'A day already exists for this user and date' AS ErrorMessage,
                @DAYDATE AS DayDate;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 2: Validate mode
        --================================================
        IF @MODE NOT IN ('STANDARD', 'MINIMUM')
        BEGIN
            SELECT 
                2 AS ErrorCode,
                'INVALID_MODE' AS ErrorType,
                'Mode must be either STANDARD or MINIMUM' AS ErrorMessage,
                @MODE AS ProvidedMode;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 3: Check rules provided
        --================================================
        SELECT @TOTALRULES = COUNT(*) FROM OPENJSON(@RULES);
        
        IF @TOTALRULES = 0
        BEGIN
            SELECT 
                3 AS ErrorCode,
                'NO_RULES_PROVIDED' AS ErrorType,
                'At least one rule must be provided' AS ErrorMessage;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 4: Validate mode rule count
        -- MINIMUM mode should have exactly 2 rules
        -- STANDARD mode should have 3-5 rules
        --================================================
        IF @MODE = 'MINIMUM' AND @TOTALRULES != 2
        BEGIN
            SELECT 
                4 AS ErrorCode,
                'INVALID_MINIMUM_RULE_COUNT' AS ErrorType,
                'Minimum mode must have exactly 2 rules' AS ErrorMessage,
                @TOTALRULES AS ProvidedRuleCount;
            ROLLBACK;
            RETURN;
        END
        
        IF @MODE = 'STANDARD' AND (@TOTALRULES < 3 OR @TOTALRULES > 5)
        BEGIN
            SELECT 
                5 AS ErrorCode,
                'INVALID_STANDARD_RULE_COUNT' AS ErrorType,
                'Standard mode must have 3-5 rules' AS ErrorMessage,
                @TOTALRULES AS ProvidedRuleCount;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- CREATE USER DAY RECORD
        --================================================
        INSERT INTO USERDAY
        (
            USERID,
            RULESETID,
            VERSIONNUMBER,
            DAYDATE,
            DAYNUMBER,
            MODE,
            STATUS,
            RESULT,
            TOTALRULES,
            COMPLETEDRULES,
            EVALUATEDAT,
            MINIMUMMODEREASON,
            STARTEDAT,
            CLOSEDAT
        )
        VALUES
        (
            @USERID,
            @RULESETID,
            @VERSIONNUMBER,
            @DAYDATE,
            @DAYNUMBER,
            @MODE,
            'OPEN',  -- Initial status
            NULL,    -- No result yet
            @TOTALRULES,
            0,       -- Initially zero completed
            NULL,    -- Not evaluated yet
            @MINIMUMMODEREASON,
            @STARTEDAT,
            NULL     -- Not closed yet
        );
        
        SET @DAYID = SCOPE_IDENTITY();
        
        --================================================
        -- CREATE CHECKLIST ITEMS FROM RULES
        -- Includes ALLOWEDPROOFTYPES and REFLECTIONTIMING
        --================================================
        INSERT INTO DAYCHECKLISTITEM
        (
            DAYID,
            RULEID,
            DESCRIPTION,
            DOMAINTYPE,
            REQUIREDVALUE,
            COMPLETEDVALUE,
            ISCOMPLETED,
            COMPLETEDAT,
            COMPLETIONSOURCE,
            PROOFID,
            REFLECTIONID,
            ALLOWEDPROOFTYPES,     -- For LEARNING rules
            REFLECTIONTIMING       -- For REFLECTION rules
        )
        SELECT
            @DAYID,
            CAST(JSON_VALUE(value, '$.ruleId') AS INT),
            JSON_VALUE(value, '$.description'),
            JSON_VALUE(value, '$.domainType'),
            JSON_VALUE(value, '$.requiredValue'),
            NULL,  -- Not completed yet
            0,     -- Initially not completed
            NULL,  -- No completion time yet
            NULL,  -- No completion source yet
            NULL,  -- No proof yet
            NULL,  -- No reflection yet
            -- Store allowed proof types for LEARNING domain
            CASE 
                WHEN JSON_VALUE(value, '$.domainType') = 'LEARNING' 
                THEN JSON_VALUE(value, '$.allowedProofTypes')  -- "1,2,3"
                ELSE NULL 
            END,
            -- Store reflection timing for REFLECTION domain
            CASE 
                WHEN JSON_VALUE(value, '$.domainType') = 'REFLECTION' 
                THEN JSON_VALUE(value, '$.reflectionTiming')  -- "EVENING"
                ELSE NULL 
            END
        FROM OPENJSON(@RULES);
        
        COMMIT TRANSACTION;
        
        --================================================
        -- RETURN SUCCESS WITH CREATED DAY DATA
        --================================================
        SELECT 
            0 AS ErrorCode,
            'SUCCESS' AS Status,
            @DAYID AS DayId;
        
        -- Return day details
        SELECT
            D.DAYID,
            D.USERID,
            D.RULESETID,
            D.VERSIONNUMBER,
            D.DAYDATE,
            D.DAYNUMBER,
            D.MODE,
            D.STATUS,
            D.RESULT,
            D.TOTALRULES,
            D.COMPLETEDRULES,
            D.EVALUATEDAT,
            D.MINIMUMMODEREASON,
            D.STARTEDAT,
            D.CLOSEDAT,
            D.CREATEDDATE,
            D.UPDATEDDATE
        FROM USERDAY D
        WHERE D.DAYID = @DAYID;
        
        -- Return checklist items with NEW fields
        SELECT
            CI.CHECKLISTITEMID,
            CI.DAYID,
            CI.RULEID,
            CI.DESCRIPTION,
            CI.DOMAINTYPE,
            CI.REQUIREDVALUE,
            CI.COMPLETEDVALUE,
            CI.ISCOMPLETED,
            CI.COMPLETEDAT,
            CI.COMPLETIONSOURCE,
            CI.PROOFID,
            CI.REFLECTIONID,
            CI.ALLOWEDPROOFTYPES,
            CI.REFLECTIONTIMING,
            CI.CREATEDDATE
        FROM DAYCHECKLISTITEM CI
        WHERE CI.DAYID = @DAYID
        ORDER BY 
            CASE CI.DOMAINTYPE
                WHEN 'SLEEP' THEN 1
                WHEN 'BODY' THEN 2
                WHEN 'LEARNING' THEN 3
                WHEN 'FUEL' THEN 4
                WHEN 'REFLECTION' THEN 5
                ELSE 99
            END;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        -- Return error indicator
        SELECT 
            99 AS ErrorCode,
            'INTERNAL_ERROR' AS ErrorType,
            ERROR_MESSAGE() AS ErrorMessage,
            ERROR_NUMBER() AS SqlErrorNumber,
            ERROR_LINE() AS SqlErrorLine;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DAY_BY_DATE]    Script Date: 17-07-2026 14:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_GET_DAY_BY_DATE]
(
    @USERID INT,
    @DAYDATE DATE
)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @DAYID INT;
    
    --================================================
    -- VALIDATION: Check if day exists for this date
    --================================================
    SELECT @DAYID = DAYID
    FROM USERDAY
    WHERE USERID = @USERID 
      AND DAYDATE = @DAYDATE;
    
    IF @DAYID IS NULL
    BEGIN
        SELECT 
            1 AS ErrorCode,
            'DAY_NOT_FOUND' AS ErrorType,
            'No day found for date ' + CONVERT(VARCHAR(10), @DAYDATE, 120) AS ErrorMessage,
            @DAYDATE AS DayDate;
        RETURN;
    END
    
    --================================================
    -- 1. RETURN DAY DETAILS
    --================================================
    SELECT
        UD.DAYID,
        UD.USERID,
        UD.RULESETID,
        UD.VERSIONNUMBER,
        UD.DAYDATE,
        UD.DAYNUMBER,
        UD.MODE,
        UD.STATUS,
        UD.RESULT,
        UD.TOTALRULES,
        UD.COMPLETEDRULES,
        UD.MINIMUMMODEREASON,
        UD.STARTEDAT,
        UD.CLOSEDAT,
        UD.EVALUATEDAT,
        UD.CREATEDDATE
    FROM USERDAY UD
    WHERE UD.DAYID = @DAYID;
    
    --================================================
    -- 2. RETURN CHECKLIST ITEMS WITH DOMAIN INFO
    --================================================
    SELECT
        CI.CHECKLISTITEMID,
        CI.RULEID,
        CI.DOMAINTYPE,
        DM.DOMAINEMOJI AS EMOJI,
        CI.DESCRIPTION,
        CI.REQUIREDVALUE,
        CI.COMPLETEDVALUE,
        CI.ISCOMPLETED,
        CI.COMPLETEDAT,
        CI.COMPLETIONSOURCE,
        CI.PROOFID,
        CI.REFLECTIONID
    FROM DAYCHECKLISTITEM CI
    LEFT JOIN RULE_MANAGEMENT.dbo.DOMAIN_MASTER DM 
        ON CI.DOMAINTYPE = DM.DOMAINTYPE
    WHERE CI.DAYID = @DAYID
    ORDER BY 
        CASE CI.DOMAINTYPE
            WHEN 'SLEEP' THEN 1
            WHEN 'BODY' THEN 2
            WHEN 'LEARNING' THEN 3
            WHEN 'FUEL' THEN 4
            WHEN 'REFLECTION' THEN 5
            ELSE 6
        END;
    
    --================================================
    -- 3. RETURN LEARNING PROOFS
    --================================================
    SELECT
        LP.PROOFID,
        LP.RULEID,
        LP.DESCRIPTIONTEXT,
        LP.PROOFTYPES,
        LP.ATTACHMENTURL,
        LP.DURATIONMINUTES,
        LP.SUBMITTEDAT,
        PTM.PROOFTYPECODE
    FROM LEARNINGPROOF LP
    LEFT JOIN RULE_MANAGEMENT.dbo.PROOF_TYPE_MASTER PTM
        ON PTM.PROOFTYPEID = TRY_CAST(LP.PROOFTYPES AS INT)
    WHERE LP.DAYID = @DAYID
    ORDER BY LP.SUBMITTEDAT;
    
    --================================================
    -- 4. RETURN DAILY REFLECTIONS
    --================================================
    SELECT
        DR.REFLECTIONID,
        DR.RULEID,
        DR.WHATHAPPENED,
        DR.WHATBLOCKED,
        DR.PLANFORTOMORROW,
        DR.CREATEDAT
    FROM DAILYREFLECTION DR
    WHERE DR.DAYID = @DAYID
    ORDER BY DR.CREATEDAT;
    
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DAY_HISTORY]    Script Date: 17-07-2026 14:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_GET_DAY_HISTORY]
(
    @USERID INT,
    @PAGE INT = 1,
    @LIMIT INT = 7
)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @OFFSET INT;
    DECLARE @TOTALDAYS INT;
    DECLARE @TOTALPAGES INT;
    
    --================================================
    -- CALCULATE PAGINATION
    --================================================
    SET @OFFSET = (@PAGE - 1) * @LIMIT;
    
    --================================================
    -- VALIDATION: Check if user has any days
    --================================================
    SELECT @TOTALDAYS = COUNT(*)
    FROM USERDAY
    WHERE USERID = @USERID
      AND STATUS = 'CLOSED';
    
    IF @TOTALDAYS = 0
    BEGIN
        SELECT 
            1 AS ErrorCode,
            'NO_HISTORY' AS ErrorType,
            'No day history found for this user' AS ErrorMessage,
            @USERID AS UserId;
        RETURN;
    END
    
    -- Calculate total pages
    SET @TOTALPAGES = CEILING(CAST(@TOTALDAYS AS FLOAT) / @LIMIT);
    
    --================================================
    -- 1. RETURN PAGINATION INFO
    --================================================
    SELECT
        @USERID AS UserId,
        @PAGE AS CurrentPage,
        @LIMIT AS PageLimit,
        @TOTALDAYS AS TotalDays,
        @TOTALPAGES AS TotalPages;
    
    --================================================
    -- 2. RETURN PAGINATED DAY LIST (NEWEST FIRST)
    --================================================
    SELECT
        UD.DAYID,
        UD.DAYDATE,
        UD.DAYNUMBER,
        UD.MODE,
        UD.STATUS,
        UD.RESULT,
        UD.TOTALRULES,
        UD.COMPLETEDRULES,
        UD.CLOSEDAT,
        UD.EVALUATEDAT
    FROM USERDAY UD
    WHERE UD.USERID = @USERID
      AND UD.STATUS = 'CLOSED'
    ORDER BY UD.DAYDATE DESC
    OFFSET @OFFSET ROWS
    FETCH NEXT @LIMIT ROWS ONLY;
    
    --================================================
    -- 3. RETURN SUMMARY STATS (CURRENT PAGE ONLY)
    --================================================
    WITH PageDays AS (
        SELECT
            UD.DAYID,
            UD.RESULT
        FROM USERDAY UD
        WHERE UD.USERID = @USERID
          AND UD.STATUS = 'CLOSED'
        ORDER BY UD.DAYDATE DESC
        OFFSET @OFFSET ROWS
        FETCH NEXT @LIMIT ROWS ONLY
    )
    SELECT
        COUNT(CASE WHEN RESULT = 'PASS' THEN 1 END) AS PassedDays,
        COUNT(CASE WHEN RESULT = 'FAIL' THEN 1 END) AS FailedDays,
        CASE 
            WHEN COUNT(*) > 0 
            THEN CAST(COUNT(CASE WHEN RESULT = 'PASS' THEN 1 END) AS FLOAT) / COUNT(*) * 100
            ELSE 0
        END AS PassRate
    FROM PageDays;
    
    --================================================
    -- 4. RETURN PATTERN STRING (CURRENT PAGE)
    --================================================
    SELECT
        STRING_AGG(
            CASE WHEN UD.RESULT = 'PASS' THEN N'✓' ELSE N'✗' END,
            ' '
        ) WITHIN GROUP (ORDER BY UD.DAYDATE ASC) AS Pattern
    FROM (
        SELECT
            UD.DAYDATE,
            UD.RESULT
        FROM USERDAY UD
        WHERE UD.USERID = @USERID
          AND UD.STATUS = 'CLOSED'
        ORDER BY UD.DAYDATE DESC
        OFFSET @OFFSET ROWS
        FETCH NEXT @LIMIT ROWS ONLY
    ) UD;
    
    --================================================
    -- 5. RETURN MOST MISSED RULE (ALL HISTORY)
    --================================================
    WITH MissedRules AS (
        SELECT
            CI.DOMAINTYPE,
            CI.DESCRIPTION,
            COUNT(*) AS TimesMissed
        FROM DAYCHECKLISTITEM CI
        INNER JOIN USERDAY UD ON CI.DAYID = UD.DAYID
        WHERE UD.USERID = @USERID
          AND UD.STATUS = 'CLOSED'
          AND CI.ISCOMPLETED = 0
        GROUP BY CI.DOMAINTYPE, CI.DESCRIPTION
    )
    SELECT TOP 1
        MR.DOMAINTYPE,
        MR.DESCRIPTION,
        MR.TimesMissed
    FROM MissedRules MR
    ORDER BY MR.TimesMissed DESC, MR.DOMAINTYPE;
    
    --================================================
    -- 6. RETURN ALWAYS COMPLETED RULE (ALL HISTORY)
    --================================================
    WITH RuleStats AS (
        SELECT
            CI.DOMAINTYPE,
            CI.DESCRIPTION,
            COUNT(*) AS TotalOccurrences,
            SUM(CASE WHEN CI.ISCOMPLETED = 1 THEN 1 ELSE 0 END) AS CompletedCount
        FROM DAYCHECKLISTITEM CI
        INNER JOIN USERDAY UD ON CI.DAYID = UD.DAYID
        WHERE UD.USERID = @USERID
          AND UD.STATUS = 'CLOSED'
        GROUP BY CI.DOMAINTYPE, CI.DESCRIPTION
    )
    SELECT TOP 1
        RS.DOMAINTYPE,
        RS.DESCRIPTION,
        CAST(RS.CompletedCount AS FLOAT) / RS.TotalOccurrences * 100 AS CompletionRate
    FROM RuleStats RS
    WHERE RS.TotalOccurrences >= 3  -- Only consider rules that appeared at least 3 times
    ORDER BY 
        CAST(RS.CompletedCount AS FLOAT) / RS.TotalOccurrences DESC,
        RS.TotalOccurrences DESC;
    
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DAY_SUMMARY]    Script Date: 17-07-2026 14:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_GET_DAY_SUMMARY]
(
    @DAYID INT
)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @USERID INT;
    DECLARE @DAYSTATUS NVARCHAR(20);
    
    --================================================
    -- VALIDATION: Check if day exists
    --================================================
    SELECT 
        @USERID = USERID,
        @DAYSTATUS = STATUS
    FROM USERDAY
    WHERE DAYID = @DAYID;
    
    IF @USERID IS NULL
    BEGIN
        SELECT 
            1 AS ErrorCode,
            'DAY_NOT_FOUND' AS ErrorType,
            'Day not found' AS ErrorMessage,
            @DAYID AS DayId;
        RETURN;
    END
    
    --================================================
    -- 1. RETURN DAY DETAILS
    --================================================
    SELECT
        UD.DAYID,
        UD.USERID,
        UD.RULESETID,
        UD.VERSIONNUMBER AS RULESETVERSION,
        UD.DAYDATE,
        UD.DAYNUMBER,
        UD.MODE,
        UD.STATUS,
        UD.RESULT,
        UD.TOTALRULES,
        UD.COMPLETEDRULES,
        UD.MINIMUMMODEREASON,
        UD.STARTEDAT,
        UD.CLOSEDAT,
        UD.EVALUATEDAT
    FROM USERDAY UD
    WHERE UD.DAYID = @DAYID;
    
    --================================================
    -- 2. RETURN CHECKLIST ITEMS WITH COMPLETION STATUS
    --================================================
    SELECT
        CI.CHECKLISTITEMID,
        CI.RULEID,
        CI.DOMAINTYPE,
        CI.DESCRIPTION,
        CI.REQUIREDVALUE,
        CI.COMPLETEDVALUE,
        CI.ISCOMPLETED,
        CI.COMPLETEDAT,
        CI.COMPLETIONSOURCE,
        CI.PROOFID,
        CI.REFLECTIONID,
        -- Add flags for proof/reflection existence
        CASE WHEN CI.PROOFID IS NOT NULL THEN 1 ELSE 0 END AS HASPROOF,
        CASE WHEN CI.REFLECTIONID IS NOT NULL THEN 1 ELSE 0 END AS HASREFLECTION
    FROM DAYCHECKLISTITEM CI
    WHERE CI.DAYID = @DAYID
    ORDER BY 
        CASE CI.DOMAINTYPE
            WHEN 'SLEEP' THEN 1
            WHEN 'BODY' THEN 2
            WHEN 'LEARNING' THEN 3
            WHEN 'FUEL' THEN 4
            WHEN 'REFLECTION' THEN 5
            ELSE 6
        END;
    
    --================================================
    -- 3. RETURN COMPLETED RULE IDs
    --================================================
    SELECT
        CI.RULEID
    FROM DAYCHECKLISTITEM CI
    WHERE CI.DAYID = @DAYID
      AND CI.ISCOMPLETED = 1
    ORDER BY CI.RULEID;
    
    --================================================
    -- 4. RETURN MISSED RULE IDs
    --================================================
    SELECT
        CI.RULEID,
        CI.DOMAINTYPE,
        CI.DESCRIPTION
    FROM DAYCHECKLISTITEM CI
    WHERE CI.DAYID = @DAYID
      AND CI.ISCOMPLETED = 0
    ORDER BY CI.RULEID;
    
    --================================================
    -- 5. RETURN LEARNING PROOFS (if any)
    --================================================
    SELECT
        LP.PROOFID,
        LP.RULEID,
        LP.DESCRIPTIONTEXT,
        LP.PROOFTYPES,
        LP.DURATIONMINUTES,
        LP.SUBMITTEDAT
    FROM LEARNINGPROOF LP
    WHERE LP.DAYID = @DAYID
    ORDER BY LP.SUBMITTEDAT;
    
    --================================================
    -- 6. RETURN DAILY REFLECTIONS (if any)
    --================================================
    SELECT
        DR.REFLECTIONID,
        DR.RULEID,
        DR.WHATHAPPENED,
        DR.WHATBLOCKED,
        DR.PLANFORTOMORROW,
        DR.CREATEDAT
    FROM DAILYREFLECTION DR
    WHERE DR.DAYID = @DAYID
    ORDER BY DR.CREATEDAT;
    
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PREVIOUS_DAY_RESULT]    Script Date: 17-07-2026 14:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GET_PREVIOUS_DAY_RESULT]
(
    @USERID INT,
    @CURRENTDAYDATE DATE
)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 1
        DAYID,
        DAYDATE,
        DAYNUMBER,
        MODE,
        RESULT,
        TOTALRULES,
        COMPLETEDRULES
    FROM USERDAY
    WHERE USERID = @USERID
      AND DAYDATE < @CURRENTDAYDATE
      AND STATUS = 'CLOSED'
    ORDER BY DAYDATE DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_TODAY_DASHBOARD]    Script Date: 17-07-2026 14:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_GET_TODAY_DASHBOARD]
(
    @USERID INT,
    @DATE DATE = NULL  -- Optional: defaults to today
)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Default to today if not provided
    IF @DATE IS NULL
        SET @DATE = CAST(GETUTCDATE() AS DATE);
    
    DECLARE @DAYID INT;
    DECLARE @STATUS NVARCHAR(20);
    
    --================================================
    -- 1. CHECK IF DAY EXISTS
    --================================================
    SELECT 
        @DAYID = DAYID,
        @STATUS = STATUS
    FROM USERDAY
    WHERE USERID = @USERID 
        AND DAYDATE = @DATE;
    
    IF @DAYID IS NULL
    BEGIN
        -- Return error indicator
        SELECT 
            1 AS ErrorCode,
            'NO_DAY_TODAY' AS ErrorType,
            'No active day found for today. Contact support.' AS ErrorMessage;
        RETURN;
    END
    
    --================================================
    -- 2. RETURN USERDAY DETAILS WITH TIMING
    --================================================
    SELECT
        UD.DAYID,
        UD.USERID,
        UD.RULESETID,
        UD.VERSIONNUMBER,
        UD.DAYDATE,
        UD.DAYNUMBER,
        UD.MODE,
        UD.STATUS,
        UD.RESULT,
        UD.TOTALRULES,
        UD.COMPLETEDRULES,
        UD.EVALUATEDAT,
        UD.MINIMUMMODEREASON,
        UD.STARTEDAT,
        UD.CLOSEDAT,
        -- Calculate hours remaining (only if day is open)
        CASE 
            WHEN UD.STATUS = 'OPEN' AND UD.CLOSEDAT IS NOT NULL 
            THEN CAST(DATEDIFF(MINUTE, SYSUTCDATETIME(), UD.CLOSEDAT) AS FLOAT) / 60.0
            ELSE NULL
        END AS HOURSREMAINING,
        -- Get RuleSet info for lock status
        RS.ENDDATE AS LOCKEDUNTIL,
        DATEDIFF(DAY, @DATE, RS.ENDDATE) AS DAYSREMAININGINLOCK
    FROM USERDAY UD
    LEFT JOIN RULE_MANAGEMENT.dbo.RULE_SET RS 
        ON UD.RULESETID = RS.RULESETID 
        AND UD.VERSIONNUMBER = RS.VERSIONNUMBER
    WHERE UD.DAYID = @DAYID;
    
    --================================================
    -- 3. RETURN CHECKLIST ITEMS WITH DOMAIN EMOJIS
    --================================================
    SELECT
        CI.CHECKLISTITEMID,
        CI.DAYID,
        CI.RULEID,
        CI.DESCRIPTION,
        CI.DOMAINTYPE,
        DM.DOMAINEMOJI AS EMOJI,
        CI.REQUIREDVALUE,
        CI.COMPLETEDVALUE,
        CI.ISCOMPLETED,
        CI.COMPLETEDAT,
        CI.COMPLETIONSOURCE,
        CI.PROOFID,
        CI.REFLECTIONID,
        CI.ALLOWEDPROOFTYPES,
        CI.REFLECTIONTIMING
    FROM DAYCHECKLISTITEM CI
    LEFT JOIN RULE_MANAGEMENT.dbo.DOMAIN_MASTER DM 
        ON CI.DOMAINTYPE = DM.DOMAINTYPE
    WHERE CI.DAYID = @DAYID
    ORDER BY 
        CASE CI.DOMAINTYPE
            WHEN 'SLEEP' THEN 1
            WHEN 'BODY' THEN 2
            WHEN 'LEARNING' THEN 3
            WHEN 'FUEL' THEN 4
            WHEN 'REFLECTION' THEN 5
            ELSE 6
        END;
    
    --================================================
    -- 4. RETURN LEARNING PROOFS (if any)
    --================================================
    SELECT
        P.PROOFID,
        P.DAYID,
        P.RULEID,
        P.DESCRIPTIONTEXT,
        P.PROOFTYPES,
        P.ATTACHMENTURL,
        P.DURATIONMINUTES,
        P.SUBMITTEDAT
    FROM LEARNINGPROOF P
    WHERE P.DAYID = @DAYID;
    
    --================================================
    -- 5. RETURN DAILY REFLECTIONS (if any)
    --================================================
    SELECT
        R.REFLECTIONID,
        R.DAYID,
        R.RULEID,
        R.WHATHAPPENED,
        R.WHATBLOCKED,
        R.PLANFORTOMORROW,
        R.CREATEDAT
    FROM DAILYREFLECTION R
    WHERE R.DAYID = @DAYID;
    
    --================================================
    -- 6. RETURN WEEK SUMMARY (if day is closed)
    --================================================
    IF @STATUS = 'CLOSED'
    BEGIN
        -- Get last 7 days including this one
        SELECT
            UD.DAYDATE,
            UD.DAYNUMBER,
            UD.RESULT,
            UD.COMPLETEDRULES,
            UD.TOTALRULES
        FROM USERDAY UD
        WHERE UD.USERID = @USERID
            AND UD.DAYDATE <= @DATE
            AND UD.DAYDATE > DATEADD(DAY, -7, @DATE)
        ORDER BY UD.DAYDATE ASC;  -- 🔴 Changed to ASC for correct pattern
    END
    ELSE
    BEGIN
        -- Return empty result set
        SELECT NULL AS DAYDATE WHERE 1=0;
    END
    
    --================================================
    -- 7. RETURN PROOF TYPE MASTER (for frontend display)
    --================================================
    SELECT
        PTM.PROOFTYPEID,
        PTM.PROOFTYPECODE,
        PTM.PROOFTYPENAME
    FROM RULE_MANAGEMENT.dbo.PROOF_TYPE_MASTER PTM
    WHERE PTM.ISACTIVE = 1
    ORDER BY PTM.DISPLAYORDER;
    
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_USERS_FOR_DAY_END_NUDGE]    Script Date: 17-07-2026 14:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_GET_USERS_FOR_DAY_END_NUDGE]
(
    @UTCTIME DATETIME2,
    @NUDGEMINUTES INT = 30
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RM TABLE
    (
        USERID INT NULL,
        RULESETID INT NULL,
        VERSIONNUMBER INT NULL,
        TIMEZONE NVARCHAR(100) NULL,
        DAYSTARTTIME NVARCHAR(20) NULL,
        DAYENDTIME NVARCHAR(20) NULL,
        CURRENTDAYENDUTC DATETIME2 NULL,
        CURRENTDAYID INT NULL,
        STATUS NVARCHAR(20) NULL,
        TotalUsers INT NULL,
        ErrorCode INT NULL,
        ErrorType NVARCHAR(100) NULL,
        ErrorMessage NVARCHAR(500) NULL
    );

    -- Pull day-end candidates from Rule Management (single source of truth for boundaries)
    INSERT INTO @RM
    EXEC [RULE_MANAGEMENT].[dbo].[USP_GET_USERS_DAY_END] @UTCTIME = @UTCTIME;

    -- Return only users in nudge window with remaining checklist items
    SELECT
        UD.USERID,
        UD.DAYID,
        UD.DAYNUMBER,
        UD.DAYDATE,
        RM.CURRENTDAYENDUTC,
        UD.TOTALRULES,
        UD.COMPLETEDRULES,
        (UD.TOTALRULES - UD.COMPLETEDRULES) AS REMAININGRULES,
        RM.TIMEZONE
    FROM @RM RM
    INNER JOIN USERDAY UD
        ON UD.DAYID = RM.CURRENTDAYID
       AND UD.USERID = RM.USERID
    WHERE RM.USERID IS NOT NULL
      AND RM.CURRENTDAYID IS NOT NULL
      AND RM.CURRENTDAYENDUTC IS NOT NULL
      AND UD.STATUS = 'OPEN'
      AND UD.RESULT IS NULL
      AND (UD.TOTALRULES - UD.COMPLETEDRULES) > 0
      AND DATEADD(MINUTE, -@NUDGEMINUTES, RM.CURRENTDAYENDUTC) <= @UTCTIME
      AND @UTCTIME < RM.CURRENTDAYENDUTC
    ORDER BY RM.CURRENTDAYENDUTC, UD.USERID;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_SUBMIT_DAILY_REFLECTION]    Script Date: 17-07-2026 14:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_SUBMIT_DAILY_REFLECTION]
(
    @USERID INT,
    @DAYID INT,
    @RULEID INT,
    @WHATHAPPENED NVARCHAR(MAX),
    @WHATBLOCKED NVARCHAR(MAX),
    @PLANFORTOMORROW NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @CHECKLISTITEMID INT;
        DECLARE @REFLECTIONID INT;
        DECLARE @DAYSTATUS NVARCHAR(20);
        DECLARE @ISCOMPLETED BIT;
        DECLARE @DOMAINTYPE NVARCHAR(50);
        DECLARE @DESCRIPTION NVARCHAR(500);
        DECLARE @TOTALRULES INT;
        DECLARE @COMPLETEDRULES INT;
        DECLARE @CREATEDAT DATETIME2 = SYSUTCDATETIME();
        
        --================================================
        -- VALIDATION 1: Check if day exists and belongs to user
        --================================================
        SELECT 
            @DAYSTATUS = STATUS,
            @TOTALRULES = TOTALRULES,
            @COMPLETEDRULES = COMPLETEDRULES
        FROM USERDAY
        WHERE DAYID = @DAYID
          AND USERID = @USERID;
        
        IF @DAYSTATUS IS NULL
        BEGIN
            SELECT 
                1 AS ErrorCode,
                'DAY_NOT_FOUND' AS ErrorType,
                'Day not found or does not belong to user' AS ErrorMessage;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 2: Check if day is still open
        --================================================
        IF @DAYSTATUS = 'CLOSED'
        BEGIN
            SELECT 
                2 AS ErrorCode,
                'DAY_CLOSED' AS ErrorType,
                'Cannot submit reflection after day has ended' AS ErrorMessage;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 3: Get checklist item and validate
        --================================================
        SELECT 
            @CHECKLISTITEMID = CHECKLISTITEMID,
            @ISCOMPLETED = ISCOMPLETED,
            @DOMAINTYPE = DOMAINTYPE,
            @DESCRIPTION = DESCRIPTION
        FROM DAYCHECKLISTITEM
        WHERE DAYID = @DAYID
          AND RULEID = @RULEID;
        
        IF @CHECKLISTITEMID IS NULL
        BEGIN
            SELECT 
                3 AS ErrorCode,
                'CHECKLIST_ITEM_NOT_FOUND' AS ErrorType,
                'Rule not found in today''s checklist' AS ErrorMessage,
                @RULEID AS RuleId;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 4: Verify this is a reflection item
        --================================================
        IF @DOMAINTYPE != 'REFLECTION'
        BEGIN
            SELECT 
                4 AS ErrorCode,
                'NOT_REFLECTION_ITEM' AS ErrorType,
                'This rule does not require reflection' AS ErrorMessage,
                @DOMAINTYPE AS ActualDomainType;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 5: Check if already completed
        --================================================
        IF @ISCOMPLETED = 1
        BEGIN
            SELECT 
                5 AS ErrorCode,
                'ALREADY_COMPLETED' AS ErrorType,
                'This reflection item is already completed' AS ErrorMessage,
                @CHECKLISTITEMID AS ChecklistItemId;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 6: Check if all fields are provided
        --================================================
        DECLARE @MissingFields NVARCHAR(200) = '';
        
        IF @WHATHAPPENED IS NULL OR LTRIM(RTRIM(@WHATHAPPENED)) = ''
            SET @MissingFields = @MissingFields + 'whatHappened,';
        
        IF @WHATBLOCKED IS NULL OR LTRIM(RTRIM(@WHATBLOCKED)) = ''
            SET @MissingFields = @MissingFields + 'whatBlocked,';
        
        IF @PLANFORTOMORROW IS NULL OR LTRIM(RTRIM(@PLANFORTOMORROW)) = ''
            SET @MissingFields = @MissingFields + 'planForTomorrow,';
        
        IF LEN(@MissingFields) > 0
        BEGIN
            -- Remove trailing comma
            SET @MissingFields = LEFT(@MissingFields, LEN(@MissingFields) - 1);
            
            SELECT 
                6 AS ErrorCode,
                'INCOMPLETE_REFLECTION' AS ErrorType,
                'All three reflection questions must be answered' AS ErrorMessage,
                @MissingFields AS MissingFields;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 7: Check minimum length for each field
        --================================================
        IF LEN(@WHATHAPPENED) < 10
        BEGIN
            SELECT 
                7 AS ErrorCode,
                'FIELD_TOO_SHORT' AS ErrorType,
                'What happened today must be at least 10 characters' AS ErrorMessage,
                'whatHappened' AS FieldName,
                10 AS MinLength,
                LEN(@WHATHAPPENED) AS ProvidedLength;
            ROLLBACK;
            RETURN;
        END
        
        IF LEN(@WHATBLOCKED) < 10
        BEGIN
            SELECT 
                7 AS ErrorCode,
                'FIELD_TOO_SHORT' AS ErrorType,
                'What blocked you must be at least 10 characters' AS ErrorMessage,
                'whatBlocked' AS FieldName,
                10 AS MinLength,
                LEN(@WHATBLOCKED) AS ProvidedLength;
            ROLLBACK;
            RETURN;
        END
        
        IF LEN(@PLANFORTOMORROW) < 10
        BEGIN
            SELECT 
                7 AS ErrorCode,
                'FIELD_TOO_SHORT' AS ErrorType,
                'Plan for tomorrow must be at least 10 characters' AS ErrorMessage,
                'planForTomorrow' AS FieldName,
                10 AS MinLength,
                LEN(@PLANFORTOMORROW) AS ProvidedLength;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- INSERT DAILY REFLECTION
        --================================================
        INSERT INTO DAILYREFLECTION
        (
            DAYID,
            USERID,
            RULEID,
            WHATHAPPENED,
            WHATBLOCKED,
            PLANFORTOMORROW,
            CREATEDAT
        )
        VALUES
        (
            @DAYID,
            @USERID,
            @RULEID,
            @WHATHAPPENED,
            @WHATBLOCKED,
            @PLANFORTOMORROW,
            @CREATEDAT
        );
        
        SET @REFLECTIONID = SCOPE_IDENTITY();
        
        --================================================
        -- UPDATE CHECKLIST ITEM
        --================================================
        UPDATE DAYCHECKLISTITEM
        SET 
            ISCOMPLETED = 1,
            COMPLETEDAT = @CREATEDAT,
            COMPLETIONSOURCE = 'REFLECTION',
            REFLECTIONID = @REFLECTIONID
        WHERE CHECKLISTITEMID = @CHECKLISTITEMID;
        
        --================================================
        -- UPDATE USERDAY COMPLETED COUNT
        --================================================
        UPDATE USERDAY
        SET 
            COMPLETEDRULES = COMPLETEDRULES + 1,
            UPDATEDDATE = @CREATEDAT
        WHERE DAYID = @DAYID;
        
        -- Get updated count
        SELECT @COMPLETEDRULES = COMPLETEDRULES
        FROM USERDAY
        WHERE DAYID = @DAYID;
        
        COMMIT TRANSACTION;
        
        --================================================
        -- RETURN SUCCESS WITH COMPLETE DATA
        --================================================
        SELECT 
            0 AS ErrorCode,
            'SUCCESS' AS Status;
        
        -- Return reflection details
        SELECT
            R.REFLECTIONID,
            R.DAYID,
            R.RULEID,
            R.WHATHAPPENED,
            R.WHATBLOCKED,
            R.PLANFORTOMORROW,
            R.CREATEDAT
        FROM DAILYREFLECTION R
        WHERE R.REFLECTIONID = @REFLECTIONID;
        
        -- Return updated checklist item
        SELECT
            CI.CHECKLISTITEMID,
            CI.RULEID,
            CI.DESCRIPTION,
            CI.DOMAINTYPE,
            CI.ISCOMPLETED,
            CI.COMPLETEDAT,
            CI.COMPLETIONSOURCE,
            CI.REFLECTIONID
        FROM DAYCHECKLISTITEM CI
        WHERE CI.CHECKLISTITEMID = @CHECKLISTITEMID;
        
        -- Return updated progress
        SELECT
            @TOTALRULES AS TotalRules,
            @COMPLETEDRULES AS CompletedRules,
            (@TOTALRULES - @COMPLETEDRULES) AS RemainingRules;
        
        -- Return remaining items for helpful message
        SELECT
            CI.DESCRIPTION
        FROM DAYCHECKLISTITEM CI
        WHERE CI.DAYID = @DAYID
          AND CI.ISCOMPLETED = 0
        ORDER BY 
            CASE CI.DOMAINTYPE
                WHEN 'SLEEP' THEN 1
                WHEN 'BODY' THEN 2
                WHEN 'LEARNING' THEN 3
                WHEN 'FUEL' THEN 4
                WHEN 'REFLECTION' THEN 5
                ELSE 6
            END;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        -- Return error indicator
        SELECT 
            99 AS ErrorCode,
            'INTERNAL_ERROR' AS ErrorType,
            ERROR_MESSAGE() AS ErrorMessage,
            ERROR_NUMBER() AS SqlErrorNumber,
            ERROR_LINE() AS SqlErrorLine;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SUBMIT_LEARNING_PROOF]    Script Date: 17-07-2026 14:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_SUBMIT_LEARNING_PROOF]
(
    @USERID INT,
    @DAYID INT,
    @RULEID INT,
    @DESCRIPTIONTEXT NVARCHAR(MAX),
    @PROOFTYPECODE NVARCHAR(50),  -- User submits code like "NOTES"
    @DURATIONMINUTES INT,
    @ATTACHMENTURL NVARCHAR(1000) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @CHECKLISTITEMID INT;
        DECLARE @PROOFID INT;
        DECLARE @PROOFTYPEID INT;
        DECLARE @ALLOWEDPROOFTYPES NVARCHAR(100);
        DECLARE @DAYSTATUS NVARCHAR(20);
        DECLARE @ISCOMPLETED BIT;
        DECLARE @DOMAINTYPE NVARCHAR(50);
        DECLARE @DESCRIPTION NVARCHAR(500);
        DECLARE @TOTALRULES INT;
        DECLARE @COMPLETEDRULES INT;
        DECLARE @SUBMITTEDAT DATETIME2 = SYSUTCDATETIME();
        
        --================================================
        -- VALIDATION 1: Get proof type ID from code
        --================================================
        SELECT @PROOFTYPEID = PROOFTYPEID
        FROM RULE_MANAGEMENT.dbo.PROOF_TYPE_MASTER
        WHERE PROOFTYPECODE = @PROOFTYPECODE
          AND ISACTIVE = 1;
        
        IF @PROOFTYPEID IS NULL
        BEGIN
            SELECT 
                1 AS ErrorCode,
                'INVALID_PROOF_TYPE_CODE' AS ErrorType,
                'Invalid proof type code provided' AS ErrorMessage,
                @PROOFTYPECODE AS ProvidedCode;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 2: Check if day exists and belongs to user
        --================================================
        SELECT 
            @DAYSTATUS = STATUS,
            @TOTALRULES = TOTALRULES,
            @COMPLETEDRULES = COMPLETEDRULES
        FROM USERDAY
        WHERE DAYID = @DAYID
          AND USERID = @USERID;
        
        IF @DAYSTATUS IS NULL
        BEGIN
            SELECT 
                2 AS ErrorCode,
                'DAY_NOT_FOUND' AS ErrorType,
                'Day not found or does not belong to user' AS ErrorMessage;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 3: Check if day is still open
        --================================================
        IF @DAYSTATUS = 'CLOSED'
        BEGIN
            SELECT 
                3 AS ErrorCode,
                'DAY_CLOSED' AS ErrorType,
                'Cannot submit proof after day has ended' AS ErrorMessage;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 4: Get checklist item and validate
        --================================================
        SELECT 
            @CHECKLISTITEMID = CHECKLISTITEMID,
            @ALLOWEDPROOFTYPES = ALLOWEDPROOFTYPES,
            @ISCOMPLETED = ISCOMPLETED,
            @DOMAINTYPE = DOMAINTYPE,
            @DESCRIPTION = DESCRIPTION
        FROM DAYCHECKLISTITEM
        WHERE DAYID = @DAYID
          AND RULEID = @RULEID;
        
        IF @CHECKLISTITEMID IS NULL
        BEGIN
            SELECT 
                4 AS ErrorCode,
                'CHECKLIST_ITEM_NOT_FOUND' AS ErrorType,
                'Rule not found in today''s checklist' AS ErrorMessage,
                @RULEID AS RuleId;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 5: Check if already completed
        --================================================
        IF @ISCOMPLETED = 1
        BEGIN
            SELECT 
                5 AS ErrorCode,
                'ALREADY_COMPLETED' AS ErrorType,
                'This learning item is already completed' AS ErrorMessage,
                @CHECKLISTITEMID AS ChecklistItemId;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 6: Verify proof type is allowed
        --================================================
        IF @ALLOWEDPROOFTYPES IS NOT NULL
        BEGIN
            -- Check if submitted proof type ID is in allowed list
            IF CHARINDEX(CAST(@PROOFTYPEID AS VARCHAR), @ALLOWEDPROOFTYPES) = 0
            BEGIN
                -- Get allowed proof type codes for error message
                DECLARE @AllowedCodes NVARCHAR(MAX);
                
                SELECT @AllowedCodes = STRING_AGG(PTM.PROOFTYPECODE, ', ')
                FROM STRING_SPLIT(@ALLOWEDPROOFTYPES, ',') AS SPLIT
                INNER JOIN RULE_MANAGEMENT.dbo.PROOF_TYPE_MASTER PTM
                    ON PTM.PROOFTYPEID = TRY_CAST(SPLIT.value AS INT)
                WHERE PTM.ISACTIVE = 1;
                
                SELECT 
                    6 AS ErrorCode,
                    'INVALID_PROOF_TYPE' AS ErrorType,
                    'Proof type ''' + @PROOFTYPECODE + ''' is not allowed for this rule' AS ErrorMessage,
                    @AllowedCodes AS AllowedTypes;
                ROLLBACK;
                RETURN;
            END
        END
        
        --================================================
        -- VALIDATION 7: Check description length
        --================================================
        IF LEN(@DESCRIPTIONTEXT) < 20
        BEGIN
            SELECT 
                7 AS ErrorCode,
                'PROOF_TOO_SHORT' AS ErrorType,
                'Proof description must be at least 20 characters' AS ErrorMessage,
                20 AS MinLength,
                LEN(@DESCRIPTIONTEXT) AS ProvidedLength;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 8: Check duration is reasonable
        --================================================
        IF @DURATIONMINUTES < 1 OR @DURATIONMINUTES > 600
        BEGIN
            SELECT 
                8 AS ErrorCode,
                'INVALID_DURATION' AS ErrorType,
                'Duration must be between 1 and 600 minutes' AS ErrorMessage,
                @DURATIONMINUTES AS ProvidedDuration;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- INSERT LEARNING PROOF
        --================================================
        INSERT INTO LEARNINGPROOF
        (
            DAYID,
            USERID,
            RULEID,
            DESCRIPTIONTEXT,
            PROOFTYPES,  -- Store proof type ID
            ATTACHMENTURL,
            DURATIONMINUTES,
            SUBMITTEDAT
        )
        VALUES
        (
            @DAYID,
            @USERID,
            @RULEID,
            @DESCRIPTIONTEXT,
            CAST(@PROOFTYPEID AS NVARCHAR(100)),  -- Store as string for consistency
            @ATTACHMENTURL,
            @DURATIONMINUTES,
            @SUBMITTEDAT
        );
        
        SET @PROOFID = SCOPE_IDENTITY();
        
        --================================================
        -- UPDATE CHECKLIST ITEM
        --================================================
        UPDATE DAYCHECKLISTITEM
        SET 
            ISCOMPLETED = 1,
            COMPLETEDAT = @SUBMITTEDAT,
            COMPLETIONSOURCE = 'PROOF_SUBMISSION',
            PROOFID = @PROOFID
        WHERE CHECKLISTITEMID = @CHECKLISTITEMID;
        
        --================================================
        -- UPDATE USERDAY COMPLETED COUNT
        --================================================
        UPDATE USERDAY
        SET 
            COMPLETEDRULES = COMPLETEDRULES + 1,
            UPDATEDDATE = @SUBMITTEDAT
        WHERE DAYID = @DAYID;
        
        -- Get updated count
        SELECT @COMPLETEDRULES = COMPLETEDRULES
        FROM USERDAY
        WHERE DAYID = @DAYID;
        
        COMMIT TRANSACTION;
        
        --================================================
        -- RETURN SUCCESS WITH COMPLETE DATA
        --================================================
        SELECT 
            0 AS ErrorCode,
            'SUCCESS' AS Status;
        
        -- Return proof details
        SELECT
            P.PROOFID,
            P.DAYID,
            P.RULEID,
            P.DESCRIPTIONTEXT,
            P.PROOFTYPES,
            PTM.PROOFTYPECODE,  -- Include code for response
            P.ATTACHMENTURL,
            P.DURATIONMINUTES,
            P.SUBMITTEDAT
        FROM LEARNINGPROOF P
        LEFT JOIN RULE_MANAGEMENT.dbo.PROOF_TYPE_MASTER PTM
            ON PTM.PROOFTYPEID = TRY_CAST(P.PROOFTYPES AS INT)
        WHERE P.PROOFID = @PROOFID;
        
        -- Return updated checklist item
        SELECT
            CI.CHECKLISTITEMID,
            CI.RULEID,
            CI.DESCRIPTION,
            CI.DOMAINTYPE,
            CI.ISCOMPLETED,
            CI.COMPLETEDAT,
            CI.COMPLETIONSOURCE,
            CI.PROOFID
        FROM DAYCHECKLISTITEM CI
        WHERE CI.CHECKLISTITEMID = @CHECKLISTITEMID;
        
        -- Return updated progress
        SELECT
            @TOTALRULES AS TotalRules,
            @COMPLETEDRULES AS CompletedRules,
            (@TOTALRULES - @COMPLETEDRULES) AS RemainingRules;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        -- Return error indicator
        SELECT 
            99 AS ErrorCode,
            'INTERNAL_ERROR' AS ErrorType,
            ERROR_MESSAGE() AS ErrorMessage,
            ERROR_NUMBER() AS SqlErrorNumber,
            ERROR_LINE() AS SqlErrorLine;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATE_DAY_RESULT]    Script Date: 17-07-2026 14:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_UPDATE_DAY_RESULT]
(
    @DAYID INT,
    @RESULT NVARCHAR(20),
    @EVALUATEDAT DATETIME2,
    @TOTALREQUIRED INT,
    @TOTALCOMPLETED INT
)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @USERID INT;
        DECLARE @DAYSTATUS NVARCHAR(20);
        DECLARE @CURRENTRESULT NVARCHAR(20);
        DECLARE @CURRENTTOTAL INT;
        DECLARE @CURRENTCOMPLETED INT;
        
        --================================================
        -- VALIDATION 1: Check if day exists
        --================================================
        SELECT 
            @USERID = USERID,
            @DAYSTATUS = STATUS,
            @CURRENTRESULT = RESULT,
            @CURRENTTOTAL = TOTALRULES,
            @CURRENTCOMPLETED = COMPLETEDRULES
        FROM USERDAY
        WHERE DAYID = @DAYID;
        
        IF @USERID IS NULL
        BEGIN
            SELECT 
                1 AS ErrorCode,
                'DAY_NOT_FOUND' AS ErrorType,
                'Day not found' AS ErrorMessage,
                @DAYID AS DayId;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 2: Check if day is closed
        --================================================
        IF @DAYSTATUS != 'CLOSED'
        BEGIN
            SELECT 
                2 AS ErrorCode,
                'DAY_NOT_CLOSED' AS ErrorType,
                'Day must be closed before result can be updated' AS ErrorMessage,
                @DAYSTATUS AS CurrentStatus;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 3: Validate result value
        --================================================
        IF @RESULT NOT IN ('PASS', 'FAIL')
        BEGIN
            SELECT 
                3 AS ErrorCode,
                'INVALID_RESULT' AS ErrorType,
                'Result must be either PASS or FAIL' AS ErrorMessage,
                @RESULT AS ProvidedResult;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 4: Verify totals match
        --================================================
        IF @TOTALREQUIRED != @CURRENTTOTAL
        BEGIN
            SELECT 
                4 AS ErrorCode,
                'TOTAL_MISMATCH' AS ErrorType,
                'Total required rules do not match day record' AS ErrorMessage,
                @CURRENTTOTAL AS ExpectedTotal,
                @TOTALREQUIRED AS ProvidedTotal;
            ROLLBACK;
            RETURN;
        END
        
        IF @TOTALCOMPLETED != @CURRENTCOMPLETED
        BEGIN
            SELECT 
                5 AS ErrorCode,
                'COMPLETED_MISMATCH' AS ErrorType,
                'Total completed rules do not match day record' AS ErrorMessage,
                @CURRENTCOMPLETED AS ExpectedCompleted,
                @TOTALCOMPLETED AS ProvidedCompleted;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- VALIDATION 5: Verify result logic
        --================================================
        DECLARE @EXPECTEDRESULT NVARCHAR(20);
        SET @EXPECTEDRESULT = CASE 
            WHEN @TOTALCOMPLETED = @TOTALREQUIRED THEN 'PASS'
            ELSE 'FAIL'
        END;
        
        IF @RESULT != @EXPECTEDRESULT
        BEGIN
            SELECT 
                6 AS ErrorCode,
                'RESULT_LOGIC_ERROR' AS ErrorType,
                'Result does not match completion logic' AS ErrorMessage,
                @EXPECTEDRESULT AS ExpectedResult,
                @RESULT AS ProvidedResult,
                @TOTALCOMPLETED AS CompletedCount,
                @TOTALREQUIRED AS RequiredCount;
            ROLLBACK;
            RETURN;
        END
        
        --================================================
        -- UPDATE DAY RESULT
        --================================================
        UPDATE USERDAY
        SET 
            RESULT = @RESULT,
            EVALUATEDAT = @EVALUATEDAT,
            UPDATEDDATE = SYSUTCDATETIME()
        WHERE DAYID = @DAYID;
        
        COMMIT TRANSACTION;
        
        --================================================
        -- RETURN SUCCESS WITH UPDATED DATA
        --================================================
        SELECT 
            0 AS ErrorCode,
            'SUCCESS' AS Status;
        
        -- Return updated day details
        SELECT
            UD.DAYID,
            UD.USERID,
            UD.DAYDATE,
            UD.DAYNUMBER,
            UD.MODE,
            UD.STATUS,
            UD.RESULT,
            UD.TOTALRULES,
            UD.COMPLETEDRULES,
            UD.EVALUATEDAT,
            UD.CLOSEDAT,
            UD.UPDATEDDATE
        FROM USERDAY UD
        WHERE UD.DAYID = @DAYID;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        -- Return error indicator
        SELECT 
            99 AS ErrorCode,
            'INTERNAL_ERROR' AS ErrorType,
            ERROR_MESSAGE() AS ErrorMessage,
            ERROR_NUMBER() AS SqlErrorNumber,
            ERROR_LINE() AS SqlErrorLine;
    END CATCH
END
GO
