USE [DAILY_EXECUTION]
GO
/****** Object:  Table [dbo].[DAILYREFLECTION]    Script Date: 17-07-2026 14:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAILYREFLECTION](
	[REFLECTIONID] [int] IDENTITY(1,1) NOT NULL,
	[DAYID] [int] NOT NULL,
	[USERID] [int] NOT NULL,
	[RULEID] [int] NOT NULL,
	[WHATHAPPENED] [nvarchar](max) NULL,
	[WHATBLOCKED] [nvarchar](max) NULL,
	[PLANFORTOMORROW] [nvarchar](max) NULL,
	[CREATEDAT] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[REFLECTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAYCHECKLISTITEM]    Script Date: 17-07-2026 14:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAYCHECKLISTITEM](
	[CHECKLISTITEMID] [int] IDENTITY(1,1) NOT NULL,
	[DAYID] [int] NOT NULL,
	[RULEID] [int] NOT NULL,
	[DESCRIPTION] [nvarchar](500) NOT NULL,
	[DOMAINTYPE] [nvarchar](50) NOT NULL,
	[REQUIREDVALUE] [nvarchar](100) NULL,
	[COMPLETEDVALUE] [nvarchar](100) NULL,
	[ISCOMPLETED] [bit] NOT NULL,
	[COMPLETEDAT] [datetime2](7) NULL,
	[COMPLETIONSOURCE] [nvarchar](30) NULL,
	[PROOFID] [int] NULL,
	[REFLECTIONID] [int] NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[ALLOWEDPROOFTYPES] [nvarchar](100) NULL,
	[REFLECTIONTIMING] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CHECKLISTITEMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEARNINGPROOF]    Script Date: 17-07-2026 14:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEARNINGPROOF](
	[PROOFID] [int] IDENTITY(1,1) NOT NULL,
	[DAYID] [int] NOT NULL,
	[USERID] [int] NOT NULL,
	[RULEID] [int] NOT NULL,
	[DESCRIPTIONTEXT] [nvarchar](max) NULL,
	[PROOFTYPES] [nvarchar](100) NOT NULL,
	[ATTACHMENTURL] [nvarchar](1000) NULL,
	[DURATIONMINUTES] [int] NULL,
	[SUBMITTEDAT] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PROOFID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERDAY]    Script Date: 17-07-2026 14:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERDAY](
	[DAYID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NOT NULL,
	[RULESETID] [int] NOT NULL,
	[VERSIONNUMBER] [int] NOT NULL,
	[DAYDATE] [date] NOT NULL,
	[DAYNUMBER] [int] NOT NULL,
	[MODE] [nvarchar](20) NOT NULL,
	[STATUS] [nvarchar](20) NOT NULL,
	[RESULT] [nvarchar](20) NULL,
	[TOTALRULES] [int] NOT NULL,
	[COMPLETEDRULES] [int] NOT NULL,
	[EVALUATEDAT] [datetime2](7) NULL,
	[MINIMUMMODEREASON] [nvarchar](500) NULL,
	[STARTEDAT] [datetime2](7) NULL,
	[CLOSEDAT] [datetime2](7) NULL,
	[CREATEDDATE] [datetime2](7) NOT NULL,
	[UPDATEDDATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[DAYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_USERDAY_USER_DATE] UNIQUE NONCLUSTERED 
(
	[USERID] ASC,
	[DAYDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DAILYREFLECTION] ADD  DEFAULT (sysutcdatetime()) FOR [CREATEDAT]
GO
ALTER TABLE [dbo].[DAYCHECKLISTITEM] ADD  DEFAULT ((0)) FOR [ISCOMPLETED]
GO
ALTER TABLE [dbo].[DAYCHECKLISTITEM] ADD  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[LEARNINGPROOF] ADD  DEFAULT (sysutcdatetime()) FOR [SUBMITTEDAT]
GO
ALTER TABLE [dbo].[USERDAY] ADD  DEFAULT ((0)) FOR [TOTALRULES]
GO
ALTER TABLE [dbo].[USERDAY] ADD  DEFAULT ((0)) FOR [COMPLETEDRULES]
GO
ALTER TABLE [dbo].[USERDAY] ADD  DEFAULT (sysutcdatetime()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[DAILYREFLECTION]  WITH CHECK ADD  CONSTRAINT [FK_DAILYREFLECTION_DAY] FOREIGN KEY([DAYID])
REFERENCES [dbo].[USERDAY] ([DAYID])
GO
ALTER TABLE [dbo].[DAILYREFLECTION] CHECK CONSTRAINT [FK_DAILYREFLECTION_DAY]
GO
ALTER TABLE [dbo].[DAYCHECKLISTITEM]  WITH CHECK ADD  CONSTRAINT [FK_DAYCHECKLISTITEM_DAY] FOREIGN KEY([DAYID])
REFERENCES [dbo].[USERDAY] ([DAYID])
GO
ALTER TABLE [dbo].[DAYCHECKLISTITEM] CHECK CONSTRAINT [FK_DAYCHECKLISTITEM_DAY]
GO
ALTER TABLE [dbo].[DAYCHECKLISTITEM]  WITH CHECK ADD  CONSTRAINT [FK_DAYCHECKLISTITEM_PROOF] FOREIGN KEY([PROOFID])
REFERENCES [dbo].[LEARNINGPROOF] ([PROOFID])
GO
ALTER TABLE [dbo].[DAYCHECKLISTITEM] CHECK CONSTRAINT [FK_DAYCHECKLISTITEM_PROOF]
GO
ALTER TABLE [dbo].[DAYCHECKLISTITEM]  WITH CHECK ADD  CONSTRAINT [FK_DAYCHECKLISTITEM_REFLECTION] FOREIGN KEY([REFLECTIONID])
REFERENCES [dbo].[DAILYREFLECTION] ([REFLECTIONID])
GO
ALTER TABLE [dbo].[DAYCHECKLISTITEM] CHECK CONSTRAINT [FK_DAYCHECKLISTITEM_REFLECTION]
GO
ALTER TABLE [dbo].[LEARNINGPROOF]  WITH CHECK ADD  CONSTRAINT [FK_LEARNINGPROOF_DAY] FOREIGN KEY([DAYID])
REFERENCES [dbo].[USERDAY] ([DAYID])
GO
ALTER TABLE [dbo].[LEARNINGPROOF] CHECK CONSTRAINT [FK_LEARNINGPROOF_DAY]
GO
ALTER TABLE [dbo].[DAYCHECKLISTITEM]  WITH CHECK ADD  CONSTRAINT [CHK_REFLECTION_TIMING] CHECK  (([REFLECTIONTIMING] IS NULL OR ([REFLECTIONTIMING]='BOTH' OR [REFLECTIONTIMING]='EVENING' OR [REFLECTIONTIMING]='MORNING')))
GO
ALTER TABLE [dbo].[DAYCHECKLISTITEM] CHECK CONSTRAINT [CHK_REFLECTION_TIMING]
GO
ALTER TABLE [dbo].[USERDAY]  WITH CHECK ADD  CONSTRAINT [CHK_USERDAY_MODE] CHECK  (([MODE]='MINIMUM' OR [MODE]='STANDARD'))
GO
ALTER TABLE [dbo].[USERDAY] CHECK CONSTRAINT [CHK_USERDAY_MODE]
GO
ALTER TABLE [dbo].[USERDAY]  WITH CHECK ADD  CONSTRAINT [CHK_USERDAY_RESULT] CHECK  (([RESULT]='PENDING' OR [RESULT]='FAIL' OR [RESULT]='PASS' OR [RESULT] IS NULL))
GO
ALTER TABLE [dbo].[USERDAY] CHECK CONSTRAINT [CHK_USERDAY_RESULT]
GO
ALTER TABLE [dbo].[USERDAY]  WITH CHECK ADD  CONSTRAINT [CHK_USERDAY_STATUS] CHECK  (([STATUS]='CLOSED' OR [STATUS]='OPEN'))
GO
ALTER TABLE [dbo].[USERDAY] CHECK CONSTRAINT [CHK_USERDAY_STATUS]
GO
